.body {
  text-align: center;
  width: 320px;
  height: 550px;
  border: 2px solid black;
}

.nav {
  background-color: rgb(104, 224, 178);
  display: inline-block;
}

.nav>* {
  margin: 10px;
  text-decoration: none;
  font-size: 25px;
}